.seat {
	width: 100px;
	height: 100px;
	margin: 10px;

	float: left;
	border: 1px solid black;


.row {
	width: 1000px;
}

.available {
	background-color: white;
}

.unavailable {
	background-color: red;
}

.selected {
	background-color: blue;
}
