@import url(https://fonts.googleapis.com/css?family=Karla);

body {
	font-family:'Karla', sans-serif;
}

h1, p {
	text-align: center;
	
}
#wrapper {
	margin: 0 auto;
	width: 50%;
}

header {
	text-align: center;
}
#wrapper {
	margin: 0 auto;
	width: 70%;

}
#row-1, #row-2, #row-3, #row-4 {
	width: 100%;
	margin: 0 auto;
	background-color: #F0F8FF;
	border-radius: 0 auto;
	border : solid 1px;
}






#seat-1, #seat-2, #seat-3, #seat-4, #seat-5, #seat-6 {
	width: 12%;
	height: 100px;
	margin: 10px;
	float: left;
	border: 1px solid black;
	border: solid 2px red;
	border-color: #0D4F8B;
	margin: 2%;
	float: left;
	line-height: 100px;
	text-align: center;
	border-radius: 7.5px;

	

}


.row {
	width: 1000px;
}

.available {
	background-color: rgb(191, 239, 255);
}

.unavailable {
	background-color: red;
}

.selected {
	background-color: #315A97;
}

.available:hover {
	background-color: rgba(191, 239, 255, 0.25);
}



#form{
	padding: 51px;
	margin: 39%;
}





